<a href="https://colab.research.google.com/github/MoonlightO2/Labour-Market-Research/blob/main/Labour_Market_Trends_and_Skill_Shortages_Analysis_(Data_Cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Labour Market Trends and Skill Shortages Analysis**
***Objective***: Clean the dataset downloaded from Kaggle


***Dataset***: https://www.kaggle.com/datasets/lukebarousse/data-analyst-job-postings-google-search

In [ ]:
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv("/content/drive/MyDrive/Projects/Data Visualisation/Jobs.csv")
print(df.shape)
print(df.columns,'\n')
df.head()

(59933, 27)
Index(['Unnamed: 0', 'index', 'title', 'company_name', 'location', 'via',
       'description', 'extensions', 'job_id', 'thumbnail', 'posted_at',
       'schedule_type', 'work_from_home', 'salary', 'search_term', 'date_time',
       'search_location', 'commute_time', 'salary_pay', 'salary_rate',
       'salary_avg', 'salary_min', 'salary_max', 'salary_hourly',
       'salary_yearly', 'salary_standardized', 'description_tokens'],
      dtype='object')

,Unnamed: 0,index,title,company_name,location,via,description,extensions,job_id,thumbnail,...,commute_time,salary_pay,salary_rate,salary_avg,salary_min,salary_max,salary_hourly,salary_yearly,salary_standardized,description_tokens
0,0,0,Data Analyst,Meta,Anywhere,via LinkedIn,In the intersection of compliance and analytic...,"['15 hours ago', '101K–143K a year', 'Work fro...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,101K–143K,a year,122000.0,101000.0,143000.0,NaN,122000.0,122000.0,"['tableau', 'sql', 'r', 'python']"
1,1,1,Data Analyst,ATC,United States,via LinkedIn,Job Title: Entry Level Business Analyst / Prod...,"['12 hours ago', 'Full-time', 'Health insurance']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QiLCJodGlkb2...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[]
2,2,2,Aeronautical Data Analyst,"Garmin International, Inc.","Olathe, KS",via Indeed,Overview:\n\nWe are seeking a full-time...\nAe...,"['18 hours ago', 'Full-time']",eyJqb2JfdGl0bGUiOiJBZXJvbmF1dGljYWwgRGF0YSBBbm...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['sql']
3,3,3,Data Analyst - Consumer Goods - Contract to Hire,Upwork,Anywhere,via Upwork,Enthusiastic Data Analyst for processing sales...,"['12 hours ago', '15–25 an hour', 'Work from h...",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgLSBDb25zdW...,NaN,...,NaN,15–25,an hour,20.0,15.0,25.0,20.0,NaN,41600.0,"['excel', 'power_bi', 'powerpoint']"
4,4,4,Data Analyst | Workforce Management,Krispy Kreme,United States,via LinkedIn,Overview of Position\n\nThis position will be ...,"['7 hours ago', '90K–110K a year', 'Contractor']",eyJqb2JfdGl0bGUiOiJEYXRhIEFuYWx5c3QgfCBXb3JrZm...,https://encrypted-tbn0.gstatic.com/images?q=tb...,...,NaN,90K–110K,a year,100000.0,90000.0,110000.0,NaN,100000.0,100000.0,"['word', 'excel', 'powerpoint', 'outlook']"

In [ ]:
# Drop unwanted columns
columns_to_remove = ['Unnamed: 0', 'index', 'via', 'thumbnail', 'commute_time', 'description_tokens', 'job_id']
df = df.drop(columns=columns_to_remove, errors='ignore')

In [ ]:
# Rename columns to Title Case
df.columns = [col.replace('_', ' ').title() for col in df.columns]
print(df.columns,'\n')

# Display updated dataframe
df.head()

Index(['Title', 'Company Name', 'Location', 'Description', 'Extensions',
       'Posted At', 'Schedule Type', 'Work From Home', 'Salary', 'Search Term',
       'Date Time', 'Search Location', 'Salary Pay', 'Salary Rate',
       'Salary Avg', 'Salary Min', 'Salary Max', 'Salary Hourly',
       'Salary Yearly', 'Salary Standardized'],
      dtype='object')

,Title,Company Name,Location,Description,Extensions,Posted At,Schedule Type,Work From Home,Salary,Search Term,Date Time,Search Location,Salary Pay,Salary Rate,Salary Avg,Salary Min,Salary Max,Salary Hourly,Salary Yearly,Salary Standardized
0,Data Analyst,Meta,Anywhere,In the intersection of compliance and analytic...,"['15 hours ago', '101K–143K a year', 'Work fro...",15 hours ago,Full-time,True,101K–143K a year,data analyst,2023-08-04 03:00:13.797776,United States,101K–143K,a year,122000.0,101000.0,143000.0,NaN,122000.0,122000.0
1,Data Analyst,ATC,United States,Job Title: Entry Level Business Analyst / Prod...,"['12 hours ago', 'Full-time', 'Health insurance']",12 hours ago,Full-time,NaN,NaN,data analyst,2023-08-04 03:00:13.797776,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aeronautical Data Analyst,"Garmin International, Inc.","Olathe, KS",Overview:\n\nWe are seeking a full-time...\nAe...,"['18 hours ago', 'Full-time']",18 hours ago,Full-time,NaN,NaN,data analyst,2023-08-04 03:00:13.797776,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Data Analyst - Consumer Goods - Contract to Hire,Upwork,Anywhere,Enthusiastic Data Analyst for processing sales...,"['12 hours ago', '15–25 an hour', 'Work from h...",12 hours ago,Contractor,True,15–25 an hour,data analyst,2023-08-04 03:00:13.797776,United States,15–25,an hour,20.0,15.0,25.0,20.0,NaN,41600.0
4,Data Analyst | Workforce Management,Krispy Kreme,United States,Overview of Position\n\nThis position will be ...,"['7 hours ago', '90K–110K a year', 'Contractor']",7 hours ago,Contractor,NaN,90K–110K a year,data analyst,2023-08-04 03:00:13.797776,United States,90K–110K,a year,100000.0,90000.0,110000.0,NaN,100000.0,100000.0

In [ ]:
# List unique values and the count for each column
for col in df.columns:
    unique_values = df[col].dropna().unique()  # Remove NaN values and get unique values
    num_unique = len(unique_values)  # Count the number of unique values
    print(f"Column: {col}")
    print(f"Number of unique values: {num_unique}")
    print(unique_values)
    print("-" * 50)

Column: Title
Number of unique values: 22525
['Data Analyst' 'Aeronautical Data Analyst'
 'Data Analyst - Consumer Goods - Contract to Hire' ...
 'Data Analyst - Business Intelligence' 'COOP - Senior Data Analyst'
 'Lead FP&A Analyst- Remote, US']
--------------------------------------------------
Column: Company Name
Number of unique values: 13104
['Meta' 'ATC' 'Garmin International, Inc.' ... 'Techveda Inc'
 'Applied Memetics L.L.C' 'Techdash Telecom']
--------------------------------------------------
Column: Location
Number of unique values: 1237
[' Anywhere ' '  United States   ' '  Olathe, KS   ' ... 'Eudora, MO'
 'Marionville, MO' 'Salem, MO']
--------------------------------------------------
Column: Description
Number of unique values: 41727
["In the intersection of compliance and analytics, we are seeking an analytical and data-savvy self-starter with a passion for helping others, protecting our community and mitigating risk. Those who join our team have a strong ability to leverage data to influence organizational decisions, innovate new methods for improvement, and concisely convey data insights to a general audience.\n\nData Analyst... Responsibilities:\n• Utilize advanced knowledge of data mining, business intelligence tools to drive efficient analytics and reporting\n• Identify and drive scalable solutions for building and automating reports, data pipelines and dashboards to monitor and report on operational performance metrics\n• Leverage data and analytics to identify actionable insights, suggest recommendations through effective communication for both technical and non-technical audiences\n• Establish short and long-term goals that will advance the organization’s impact through data and analytics\n• Effectively plan and collaborate cross-functionally on data driven projects to comply with regulations and to improve Meta’s products and internal tools\n• Partner with Operations, Data Science and Product teams to manage multiple complex projects and solve problems at scale\n• Support audit and compliance efforts including querying and providing data responses for Developer Platform supported and Developer Operations owned Safeguards\n\nMinimum Qualifications:\n• B.A. or B.S. degree with a quantitative focus in Economics, Computer Science, Information Systems, Math, Statistics, or equivalent experience\n• 4+ years of professional data analytics experience, with a background in end to end project management and/or operations\n• 3+ years experience in using SQL or equivalent\n• Experience with data visualization tools (e.g., Tableau)\n• Experience with managing codebase, pipelines and underlying data table architectures\n\nPreferred Qualifications:\n• Experience with large data sets and distributed computing (Hive/Hadoop)\n• Experience with a scripting language (Python, R etc.)\n• Experience in operational analytics\n\nMeta is proud to be an Equal Employment Opportunity and Affirmative Action employer. We do not discriminate based upon race, religion, color, national origin, sex (including pregnancy, childbirth, reproductive health decisions, or related medical conditions), sexual orientation, gender identity, gender expression, age, status as a protected veteran, status as an individual with a disability, genetic information, political views or activity, or other applicable legally protected characteristics. You may view our Equal Employment Opportunity notice here. We also consider qualified applicants with criminal histories, consistent with applicable federal, state and local law. We may use your information to maintain the safety and security of Meta, its employees, and others as required or permitted by law. You may view Meta's Pay Transparency Policy, Equal Employment Opportunity is the Law notice, and Notice to Applicants for Employment and Employees by clicking on their corresponding links. Additionally, Meta participates in the E-Verify program in certain locations, as required by law"
 'Job Title: Entry Level Business Analyst / Product Owner U.S. Citizens and those authorized to work in the U.S. are encouraged to apply. We are able to sponsor at this time.\n\nWe are a US equal employment opportunity employer...\n\nJob Description:\n• Entry Level expertise in gathering, analyzing, and documenting business requirements. If you do not have experience as a Business Analyst or Product Owner, you will be put through a training & Internship program.\n• Experience in Requirement Gathering, Agile methodology, writing user stories, and building and planning roadmaps.\n• Experience in preparing functional and detailed system design documents\n• Demonstrate expertise with SDLC methodology\n• Ability to communicate effectively across multiple levels of the organization, including with leadership.\n• Demonstrated leadership, initiative, analytical skills, and sound business acumen, including the ability to understand and analyze recommendations\n• Experience with all phases of testing (i.e., system, integration, user acceptance), including creating use cases, test conditions, and review of output.\n• Must be able to adjust and work effectively in a dynamic, changing environment\n\nOther:\n• Master’s Degree.\n• We sponsor H1B or related work visas for eligible candidates on F1/OPT/CPT.\n• We offer health insurance 100% paid.\n• We follow equal employment opportunity'
 "Overview:\n\nWe are seeking a full-time...\nAeronautical Data Analyst in our Olathe, KS location. In this role, you will be responsible for the attribution, processing, evaluation, and maintenance of aeronautical data and the execution of Quality Assurance processes.\n\nResponsibilities:\n\nEssential Functions\n• Edit, manipulate and maintain aeronautical data using custom and 3rd party software\n• Ensure the application of appropriate aeronautical specifications to the data and products\n• Help evaluate and process database updates according to established methodology\n• Identify and resolve basic issues or risks using proper aeronautical data capture techniques\n• Conduct testing and evaluation of GARMIN aeronautical data products\n• Demonstrate fundamental understanding of Garmin’s Aeronautical Data development process\n• Document work thoroughly in an organized manner\n• Demonstrate ability to learn, understand, provide input and apply established or new processes and projects\n• Demonstrate the ability to recognize and process multiple source types; translate/culminate necessary information for tasks within standard framework\n• Incorporate field knowledge within documented standards framework to identify and creatively solve problems\n• Work periodic over-time, holidays, and weekends as necessary\n\nData Collection Team:\n• Input or update, perform a QC process on, and maintain the features in the National Airspace System Resources (NASR) database\n• Maintain a working knowledge of the functionality of the National Airspace System (NAS), to include the direct correlation in support of Instrument Flight Rules (IFR) and on-board Flight Management Systems (FMS)\n• Maintain a working knowledge of the development, review and analysis of airspace structure to include new design processes and procedures\n\nProduction Team:\n• Acquire and maintain DO-200A associate qualifications according to applicable sections of the Personnel Qualification Manual\n• Acquire and maintain DO-200A initial and follow-on training requirements according to applicable sections of the Training Plan\n• Insert, update, and delete records in AeroNavData’s DO-200A qualified database\n• Process aeronautical source from the Standard and Non-Standard Aeronautical Information Publications (AIPs) listed in the Data Source Manual\n• Acquire a basic understanding of the ARINC 424 specifications\n• Interface with NFDC and AeroNav Products associates via e-mail or phone when directed\n• Interface with the Civil Aviation Authorities (CAA) via e-mail or phone when directed\n• Use and understand database queries written for our Microsoft SQL Server database using the Structured Query Language (SQL)\n\nQualifications:\n\nBasic Qualifications\n• Bachelor’s Degree in Aviation OR instrument rated pilot, Navigator, Air Traffic Controller, Aeronautical Analyst, or Military TERPS Specialist OR 2 years relevant experience OR substantial demonstrated aeronautical knowledge\n• Excellent academics (cumulative GPA greater than or equal to 3.0 as a general rule)\n• Demonstrate a basic working knowledge and understanding of aeronautical charting principles relevant to GARMIN’s business needs\n\nDesired Qualifications\n• Outstanding academics (cumulative GPA greater than or equal to 3.5)\n• Previous work experience as an air traffic controller, military TERPS Specialist or aeronautical information specialist\n• Private Pilot’s License with instrument rating strongly preferred\n• Demonstrate an understanding of instrument flight rules, instrument procedures, and the United States National Airspace System\n• Familiarity with Cartography, GIS principles and methodologies\n• Bilingual skills\n\nGarmin International is an equal opportunity employer. Qualified applicants will receive consideration for employment without regard to race, religion, color, national origin, citizenship, sex, sexual orientation, gender identity, veteran’s status, age or disability.\n\nThis position is eligible for Garmin's benefit program. Details can be found here:\nGarmin Benefits"
 ...
 'What you will do:\n• Build reporting dashboards in Tableau through self-built queries to manage daily, weekly, monthly performance of the Finance team\n• Run custom analytics to prove or disprove hypotheses on business factors informing effectiveness of our Finance team, where answers inform recommendations on next steps for the team to operationalize...\n• Provide data analytics that will enable customer segmentation approach, versus one-size fits all, model that our Finance team uses to optimize customer revenue management\n• Present, interpret and clearly explain data insights on community market dynamics to stakeholders across our organization\n• Develop an expert advisor into Finance database, working closely with our finance, analytics, and data services stakeholders to enable custom analytics and daily management reporting that will improve our financial function\n• Prioritize projects and requests and clearly communicate timeline expectations to various stakeholders\n\nRequired Skills and Competencies:\n• 2-5 years of experience with 3+ years of technical analytical experience (e.g., query proficiency, report building) and business reporting (e.g., KPI metric or benchmark building) proficiency\n• Proficiency in SQL; experience using Databricks preferred\n• Proficiency in building self-serve dashboards in Tableau\n• Outcome-oriented - thrives at translating target outcomes into measurable actions & reports\n• Ability to prioritize in a fast-paced environment\n• Ability to effectively communicate technical concepts to non-technical audiences\n• Strong communication skills with the ability to communicate effectively at all levels of an organization, including the C-Suite\n• Bachelor Degree'
 "About Lumen\nLumen is guided by our belief that humanity is at its best when technology advances the way we live and work. With 450,000 route fiber miles serving customers in more than 60 countries, we deliver the fastest, most secure global platform for applications and data to help businesses, government and communities deliver amazing experiences. Learn more about Lumen s network, edge cloud... security and communication and collaboration solutions and our purpose to further human progress through technology at LinkedIn: /lumentechnologies, Facebook: /lumentechnologies, and YouTube: /lumentechnologies.\n\nThe Role\nAs a Lumen Lead Finance Analyst, you will provide financial and business analysis in support of the Access Management organization while indirectly supporting other business units. The analyst will be responsible for developing a deep understanding of key cost components and corresponding drivers that impact network expense and margins. This includes but is not limited to preparing periodic financial reports, budgets, forecasts, deep-dive analysis into key variance questions, and margin evaluation. Further, the analyst will be responsible for understanding underlying business trends, drivers and working with stakeholders to recommend and pursue appropriate courses of action. The role will frequently work with Director / VP stakeholders and works cross functionally with FP&A to sync on results, provide insight, and drive recommendations.\n\nThe Main Responsibilities\n• Interpret financial data to determine and understand the trends of the business and root causes driving expense and margin results\n• Establish, interpret, and analyze financial data including monthly financial results, recommendations or preparing statements for business partners/stakeholders\n• Anticipate process obstacles and decides next steps\n• Utilizes multiple systems to bring data together and provided analysis on operational activities\n• Detailed knowledge of business they support and how their role impacts the\n• Provide professional advice, guidance, and service to internal clients\n• Financial and analytical support to organization\n• Responsible for major elements of the close process including journal entry evaluation, results variance explanation, reporting, communicating, and explaining results to clients and Business Unit leadership\n• Budgeting and forecasting using drivers\n• Partner with internal clients to provide financial data, consultation and make recommendations regarding completion of objectives, and improving operational effectiveness\n• Gather and organize data used to prepare financial/business reports\n• Perform financial data analysis to support the business in analyzing corporate financial targets and operational objectives\n• Generate special ad hoc reports and perform analysis as requested by supervisor, business partners/clients, and other stakeholders\n• Improve partnerships with key internal clients by identifying changing business needs, service expectations, quality and format of data provided, and identify opportunities to improve service levels\n• Leads multiple, complex, and financial/business analysis projects\n\nWhat We Look For in a Candidate\n• Bachelor's degree or higher in Business, Finance, Accounting or relevant field or equivalent experience; MBA, CFA, or other advanced certifications highly desirable\n• Minimum 5-7 years related experience\n• Strong financial and analytical skills\n• PowerBI report building through database connections. Including Measures & Cards\n• Highly advanced skills with Excel functions & Pivot tables\n• Prior experience retrieving financials from Hyperion Essbase Excel Add-in interface\n• Advanced skills with PowerPoint and presenting to a large wide-ranging audience\n• Ability to structure and convey ideas and information, both verbally and in written presentation form, in a concise, effective, and persuasive manner to bring clear understanding to the target audience\n• Ability to examine data from multiple sources to determine whether correlation and linkage exist between data sets\n• Ability to organize and manage work in an efficient and effective manner to ensure task, milestones and goals are met according to defined timelines\n\nPreferred Qualifications:\n• Proactive, anticipates needs, self-starter\n• Communicates estimated time to completion, next steps, and next project priority daily.\n• Communicates timelines and completes projects within committed deadlines\n• Strong organizational and problem-solving skills. Including summarizing big data with ease\n• Prior work experience in financial planning & analysis or accounting\n• Ability to work in a team environment remotely and in-person\n\nWhat to Expect Next\n\nRequisition #: 318692\n\nWhen applying for a position, you may be subject to a background screen (criminal records check, motor vehicle report, and/or drug screen), depending on the requirements for the position. Job-related concerns noted in the background screen may disqualify you from the new position or your current role. Background results will be evaluated on a case-by-case basis.\n\nEEO Statement\nWe are committed to providing equal employment opportunities to all persons regardless of race, color, ancestry, citizenship, national origin, religion, veteran status, disability, genetic characteristic or information, age, gender, sexual orientation, gender identity, marital status, family status, pregnancy, or other legally protected status (collectively, protected statuses ). We do not tolerate unlawful discrimination in any employment decisions, including recruiting, hiring, compensation, promotion, benefits, discipline, termination, job assignments or training.\n\nNOTE: Pursuant to the San Francisco Fair Chance Ordinance, we will consider for employment qualified applicants with arrest and conviction records.\n\nDisclaimer\nThe above job definition information has been designed to indicate the general nature and level of work performed by employees within this classification. It is not designed to contain or be interpreted as a comprehensive inventory of all duties, responsibilities, and qualifications required of employees assigned to this job. Job duties and responsibilities are subject to change based on changing business needs and conditions.\n\nSalary Range Salary Min : 72540\n\nSalary Max : 161520\n\nThis information reflects the anticipated base salary range for this position based on current national data. Minimums and maximums may vary based on location. Individual pay is based on skills, experience and other relevant factors.\n\nThis position is eligible for either short-term incentives or sales compensation. Director and VP positions also are eligible for long-term incentive. To learn more about our bonus structure, you can view additional information here. We're able to answer any additional questions you may have as you move through the selection process.\n\nAs part of our comprehensive benefits package, Lumen offers a broad range of Health, Life, Voluntary Lifestyle and other benefits and perks that enhance your physical, mental, emotional and financial wellbeing. You can learn more by clicking here.\n\nNote: For union-represented postings, wage rates and ranges are governed by applicable collective bargaining agreement provisions.\n\nSalary Range Salary Min : 72540\n\nSalary Max : 161520\n\nThis information reflects the base salary pay range for this job based on current national market data. Ranges may vary based on the job's location. We offer competitive pay that varies based on individual experience, qualifications and other relevant factors. We encourage you to apply to positions that you are interested in and for which you believe you are qualified. To learn more, you are welcome to discuss with us as you move through the selection process"

In [ ]:
import pandas as pd
import ast  # To safely convert string representation of list to actual list

# Convert 'Extensions' column from string to list
df['Extensions'] = df['Extensions'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Function to extract values based on patterns
def extract_extension_value(ext_list, keyword):
    """Extracts first matching value from the list based on keyword"""
    return next((item for item in ext_list if keyword in item.lower()), None)

# Extract new columns from 'Extensions'
df['Time Posted'] = df['Extensions'].apply(lambda x: next((i for i in x if 'hour' in i or 'day' in i), None))
df['Salary Range'] = df['Extensions'].apply(lambda x: next((i for i in x if '–' in i or '$' in i or '£' in i or 'an hour' in i or 'a year' in i), None))
df['Job Type'] = df['Extensions'].apply(lambda x: extract_extension_value(x, 'full-time') or extract_extension_value(x, 'part-time'))

# Extract remaining values as 'Benefits'
df['Benefits'] = df.apply(lambda row: ', '.join([i for i in row['Extensions'] if i not in [row['Time Posted'], row['Salary Range'], row['Job Type']]]), axis=1)

# Drop the original 'Extensions' column
df.drop(columns=['Extensions'], inplace=True)

# Display updated dataframe
df.head()

,Title,Company Name,Location,Description,Posted At,Schedule Type,Work From Home,Salary,Search Term,Date Time,...,Salary Avg,Salary Min,Salary Max,Salary Hourly,Salary Yearly,Salary Standardized,Time Posted,Salary Range,Job Type,Benefits
0,Data Analyst,Meta,Anywhere,In the intersection of compliance and analytic...,15 hours ago,Full-time,True,101K–143K a year,data analyst,2023-08-04 03:00:13.797776,...,122000.0,101000.0,143000.0,NaN,122000.0,122000.0,15 hours ago,101K–143K a year,Full-time,Work from home
1,Data Analyst,ATC,United States,Job Title: Entry Level Business Analyst / Prod...,12 hours ago,Full-time,NaN,NaN,data analyst,2023-08-04 03:00:13.797776,...,NaN,NaN,NaN,NaN,NaN,NaN,12 hours ago,None,Full-time,Health insurance
2,Aeronautical Data Analyst,"Garmin International, Inc.","Olathe, KS",Overview:\n\nWe are seeking a full-time...\nAe...,18 hours ago,Full-time,NaN,NaN,data analyst,2023-08-04 03:00:13.797776,...,NaN,NaN,NaN,NaN,NaN,NaN,18 hours ago,None,Full-time,
3,Data Analyst - Consumer Goods - Contract to Hire,Upwork,Anywhere,Enthusiastic Data Analyst for processing sales...,12 hours ago,Contractor,True,15–25 an hour,data analyst,2023-08-04 03:00:13.797776,...,20.0,15.0,25.0,20.0,NaN,41600.0,12 hours ago,15–25 an hour,None,"Work from home, Contractor, No degree mentioned"
4,Data Analyst | Workforce Management,Krispy Kreme,United States,Overview of Position\n\nThis position will be ...,7 hours ago,Contractor,NaN,90K–110K a year,data analyst,2023-08-04 03:00:13.797776,...,100000.0,90000.0,110000.0,NaN,100000.0,100000.0,7 hours ago,90K–110K a year,None,Contractor

In [ ]:
df.columns.tolist()

['Title',
 'Company Name',
 'Location',
 'Description',
 'Posted At',
 'Schedule Type',
 'Work From Home',
 'Salary',
 'Search Term',
 'Date Time',
 'Search Location',
 'Salary Pay',
 'Salary Rate',
 'Salary Avg',
 'Salary Min',
 'Salary Max',
 'Salary Hourly',
 'Salary Yearly',
 'Salary Standardized',
 'Time Posted',
 'Salary Range',
 'Job Type',
 'Benefits']

In [ ]:
# Drop unwanted columns
columns_to_remove = ['Job Type', 'Salary', 'Time Posted']
df = df.drop(columns=columns_to_remove, errors='ignore')
df.columns.tolist()

['Title',
 'Company Name',
 'Location',
 'Description',
 'Posted At',
 'Schedule Type',
 'Work From Home',
 'Search Term',
 'Date Time',
 'Search Location',
 'Salary Pay',
 'Salary Rate',
 'Salary Avg',
 'Salary Min',
 'Salary Max',
 'Salary Hourly',
 'Salary Yearly',
 'Salary Standardized',
 'Salary Range',
 'Benefits']

In [ ]:
# Assuming your data is stored in a DataFrame called df
df['Work From Home'] = df['Work From Home'].replace({True: 'Yes', 'NAN': 'No'})

# To handle actual NaN values in the column, use pd.NA or np.nan
df['Work From Home'] = df['Work From Home'].fillna('No')

In [ ]:
df.head()

,Title,Company Name,Location,Description,Posted At,Schedule Type,Work From Home,Search Term,Date Time,Search Location,Salary Pay,Salary Rate,Salary Avg,Salary Min,Salary Max,Salary Hourly,Salary Yearly,Salary Standardized,Salary Range,Benefits
0,Data Analyst,Meta,Anywhere,In the intersection of compliance and analytic...,15 hours ago,Full-time,Yes,data analyst,2023-08-04 03:00:13.797776,United States,101K–143K,a year,122000.0,101000.0,143000.0,NaN,122000.0,122000.0,101K–143K a year,Work from home
1,Data Analyst,ATC,United States,Job Title: Entry Level Business Analyst / Prod...,12 hours ago,Full-time,No,data analyst,2023-08-04 03:00:13.797776,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,Health insurance
2,Aeronautical Data Analyst,"Garmin International, Inc.","Olathe, KS",Overview:\n\nWe are seeking a full-time...\nAe...,18 hours ago,Full-time,No,data analyst,2023-08-04 03:00:13.797776,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,
3,Data Analyst - Consumer Goods - Contract to Hire,Upwork,Anywhere,Enthusiastic Data Analyst for processing sales...,12 hours ago,Contractor,Yes,data analyst,2023-08-04 03:00:13.797776,United States,15–25,an hour,20.0,15.0,25.0,20.0,NaN,41600.0,15–25 an hour,"Work from home, Contractor, No degree mentioned"
4,Data Analyst | Workforce Management,Krispy Kreme,United States,Overview of Position\n\nThis position will be ...,7 hours ago,Contractor,No,data analyst,2023-08-04 03:00:13.797776,United States,90K–110K,a year,100000.0,90000.0,110000.0,NaN,100000.0,100000.0,90K–110K a year,Contractor

In [ ]:
# Save the modified dataset into a new CSV file
df.to_csv("/content/drive/MyDrive/Projects/Data Visualisation/Jobs2.csv", index=False)